<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        
    
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JobSubmittingNET.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    
<applicationSettings>
        <JobSubmittingNET.Properties.Settings>
            <setting name="JobSubmittingNET_DiaJobScheduler_DiaJS" serializeAs="String">
                <value>http://localhost:80</value>
            </setting>
            <setting name="JobSubmittingNET_DiaJS_DiaJS" serializeAs="String">
                <value>http://localhost:80</value>
            </setting>
        </JobSubmittingNET.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
